/*To be hard coded in a media query for Users component
minWidth: '132px', minHeight: '132px'*/

/*Make all black text this color*/
/*color: #555555;*/

.appBarActions {
  margin-left: 10px;
}

.appBarButtonsContainer {
  display: flex;
  align-items: center;
  width: 90%;
  padding-right: 0;
  margin-right: 10px;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

.errorImg {
  width: 171px;
  height: 184.5px;
  margin-bottom: 3vh;
}

.gridProfileImg {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.iconButtonSmall {
  width: 72px;
  height: 72px;
  padding: 16px;
}

.iconImgSmall {
  width: 36px;
  height: 36px;
}

.ingredientsTitle {
  margin-bottom: 0vh;
}

.instructionCounter {
  border: .2rem solid grey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  color: grey;
}

.notFoundPage {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.profileInfoContainer {
  margin-top: 1rem;
  padding-top: 1rem;
}

.profileUserImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0px;
}

.profileUserInfoContainer {
  display: flex;
  flex-direction: row;
  wrap: nowrap;
  justify-content: space-between;
  /*align-items: center;*/
  /*issue with padding/border of profile icon on Users*/
  /*http://images.hellogiggles.com/uploads/2015/03/08/purple-suede.jpg*/
  align-content: center;
  width: 60%;
  margin: 0 auto;
}

.profileUserInfoHeader{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;;
}

.profileUserRecipeTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  /*text-align: center;*/
  /*height: 50px;*/
  height: 3rem;
}

.profileUserRecipeTitleContainer {
  margin-top: 2rem;
}

.recipeBottomLikeButton {
  position: relative;
  width: 50%;
  margin-left: 25%;
}

.recipeContentsContainer, .recipeFormContainer {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-bottom: 3vh;
}

.recipeFormContainer {
  padding-top: 1vh;
}

.recipeFormContentContainer {
  margin-top: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.recipeFormDetailsHeader {
  margin-bottom: 0;
}

.recipeFormInputButton {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.inputImgFileButton {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: inherit;
  opacity: 0;
}

.recipeFormSubmitButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.recipeGridContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.recipeImg {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.recipeImgContainer {
  position: relative;
  width: 100%;
}

.recipeImgLikeButton {
  position: absolute;
  top: 1.5vh;
  margin-left: 1vw;
}

.recipeImgLikeButtonSmall {
  margin-top: 5rem;
  margin-left: 1000px;
}

.recipePaper {
  width: 55%;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 20vh;
}

.seeMoreButton {
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.settingsButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2rem;
}

.settingsContentContainer {
  margin-left: 20%;
}

.settingsHeader{
  margin-top: 0;
  margin-left: 1rem;
}

.settingsPaper{
  width: 65%;
  /*min-height: 100%;*/
  margin: 0 auto;
  margin-top: 4vh;
  margin-bottom: 20vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.settingsText{
  font-size: .925rem;
  margin-bottom: 0px;
  color: #7f7f7f;
  margin-top: 20px;
}

.settingsUserNameContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.settingsUserImg {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: .5rem;
}

.settingsUserImgContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: .25rem;
}

.settingsUserName {
  display: inline-block;
  marginTop: .5rem;
}

.smallRecipeContentsContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1vh;
}

.smallRecipePaper {
  max-width: 20%;
  min-width: 282.23px;
  margin: 1rem;
  position: relative;
}

.title {
  cursor: pointer;
}
