body {
  margin: 0;
  background-color:
#f5f5f5;
}

.appBarButtonsContainer {
  display: flex;
  align-items: center;
}

.errorImg {
  width: 171px;
  height: 184.5px;
  margin-bottom: 3vh;
}

.ingredientsTitle {
  margin-bottom: 0vh;
}

.instructionCounter {
  border: .2rem solid grey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  color: grey;
}

.notFoundPage {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.recipeBottomLikeButton {
  position: relative;
  width: 50%;
  margin-left: 25%;
}

.recipeContentsContainer {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-bottom: 3vh;
}

.recipeImg {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.recipeImgContainer {
  position: relative;
  width: 100%;
}

.recipeImgLikeButton {
  position: absolute;
  top: 1.5vh;
  margin-left: 1vw;
}


.recipePaper {
  width: 55%;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 20vh;
}

.title {
  cursor: pointer;
}
